
body {
margin:0;
font-family:cursive;
direction:rtl;
overflow-x:hidden;
}

.pink-bg {
background: linear-gradient(45deg,#ff9ecf,#ff4da6);
}

.romantic-bg {
background: linear-gradient(45deg,#ff66a3,#b30059,#ff1a75);
color:white;
}

.container {
text-align:center;
padding:30px;
}

input, select {
display:block;
margin:10px auto;
padding:10px;
border-radius:20px;
border:none;
width:80%;
}

.love-btn {
background:#ff1a75;
color:white;
border:none;
padding:12px 25px;
border-radius:50px;
cursor:pointer;
font-size:18px;
box-shadow:0 0 15px #ff66a3;
transition:0.3s;
}

.love-btn:hover {
transform:scale(1.1);
}

.hearts-bg::before {
content:"💋❤️‍🔥💟❣️💕💞💓💗💖💝💘❤️😘❤️😍🥰";
position:absolute;
font-size:30px;
animation:float 10s linear infinite;
}

@keyframes float {
0% {transform:translateY(100vh);}
100% {transform:translateY(-100vh);}
}
